/PlusMoins/nbproject/private/
/PlusMoins/build/
/PlusMoins/dist/
/Melordi/nbproject/private/
/Melordi/build/
/Melordi/dist/

nbproject/private
build
/MemoGame/dist/
/GamesLauncher/nbproject/private/
/GamesLauncher/dist/
/Launcher/nbproject/private/
/Launcher/dist/
/POM/nbproject/private/
/POM/dist/